
<div class="PBox quizHeader">
  <input class="btn" type="button" id="btn_return" value="Return to menu" disabled="true">
  <div id="headerErrorArea">
    <noscript>
      Javascript is needed for the quiz, sorry.
    </noscript>
  </div>
  <div id="headerNameArea" style="font-weight: bold;">Main Menu</div>
</div>
<div
  id="quizIndex"
  class="PBox quizBody"
>
  <div class="infoArea">
    <img
    src="media/icon.svg"
    style="width:4em;height:4em;margin:0 0.5em;"
  >
    <h1 style="display:inline-block; vertical-align: bottom;">QuizGrind</h1>
  </div>
  <div id="quizOptions" class="invisible">
    <b>Question set</b>
    <div id="questionTypes"></div>
    <div class="quizOption">
      <b>Generation Type</b>
      <input type="radio" name="quizTypeSelect" id="opt_random" checked>
      <label class="quizTypeSelect" for="opt_random">
        Random
      </label>
      <input type="radio" name="quizTypeSelect" id="opt_unordered">
      <label class="quizTypeSelect" for="opt_unordered">
        Unordered
      </label>
      <input type="radio" name="quizTypeSelect" id="opt_ordered">
      <label class="quizTypeSelect" for="opt_ordered">
        Ordered
      </label>
    </div>
    <input class="btn" type="button" id="btn_newQuiz" value="Begin Quiz">
  </div>
</div>
<div id="quizArea" class="quizBody invisible">
  <div id="quizQuestionArea" class="PBox quizBox">
    <div class="TopControls">
      <div id="eNameText"></div>
      <div id="answerStatus"></div>
      <input class="btn" type="button" id="btn_continue" value="Check Answer" disabled="true">
    </div>
    <div class="MidControls">
      <div id="questionArea">
      </div>
    </div>
    <div class="BottomControls">
      <img id="eCalcImage">
      <div id="eCalcText"></div>
      <div id="questionsLeft"></div>
    </div>
  </div>
  <div id="quizInfoArea" class="PBox quizBox">
    <div class="TopControls">
      <b style="flex-grow:1;">Hints</b>
      <input
      class="btn"
      type="button"
      id="btn_getHint"
      value="Get Hint"
      disabled="true"
    >
    </div>
    <div id="hintArea" class="MidControls"></div>
  </div>
</div>