.PBox {
  border-width:0.1em;
  border:black;
  padding:0.2em;
  border-style:solid;
  margin: 0.4em 0;
  background-color: #585858;
  color:white;
  line-height: 24px;
}

#quizOptions {
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

#headerErrorArea {
  color: red;
  flex-grow: 1;
  text-align: center;
}

.quizBody {
  min-height: 0;
  flex: 1;
}

#quizArea {
  display: flex; 
  grid-gap: 0.4em;
}

.quizOption {
  display:flex; 
  flex-direction: row; 
  justify-content: space-around;
  grid-gap: 0.3em;
  margin: 0.4em 0;
  align-items: stretch;
}

.invisible {
  display: none !important;
}

#btn_newQuiz {
  margin: 0 auto;
  padding: 1em;
  width:13em;
  height:3em;
  font-size: 1.5em;
}

.quizBox {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 2em);
}

.TopControls,.BottomControls {
  display:flex;
}

.BottomControls {
  position: relative;
  height: 2em;
}

.MidControls {
  text-align:center; 
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding:0.3em;
  overflow-y:  auto;
  margin: 0.5em 0;
  padding: 0 2em;
  position: relative;
}

.btn {
  background-color: #669999;
  border: 2px solid black;
  border-radius: 1px;
  color: white;
  padding: 0.3em 0.8em;
  text-align: center;
  line-height: 0.8em;
  height:2em;
  width:9.5em;
}

.btn:hover {
  background-color: #b3cccc;
}

.btn:active {
  background-color: #000000;
}

.btn:disabled {
  background-color: #555555;
}

#answerStatus {
  text-align: center;
  flex-grow: 2;
}

.BottomControls #eCalcText {
  text-align: left;
  margin-top: auto;
  margin-left: 2em;
  flex-grow: 1;
}

.BottomControls #eNameText {
  font-weight: bold;
  text-align: left;
}

.BottomControls #eCalcImage {
  height:2.8em;
  margin-right:0.2em;
  position: absolute;
  bottom: 0;
}

svg,p {
 display:block;
 margin: 0.5em auto;
}

/* Applied when the label has something good to say */
.label_good {
  color: #83ff83;
}

/* Applied when the label has something bad to say */
.label_bad {
  color: #CC8383;
}

/* Somebody got their answer wrong. Let's highlight it */
.controlError {
  border: 2px solid #CC8383 !important;
}

/* Label has a hint, align it. */
.labelHasHint
{
  text-align: right;
}

#questionArea {
  margin: 0 auto;
}

#questionArea > label
{
  display: block;
  margin: 0.5em auto;
}

#questionTypes {
  display:flex;
  flex-direction: column;
  flex-grow:1;
  margin: auto 0.2em;
  width: 15em;
}

.solutionUser {
  font-weight: bold;
  display: inline;
}

input[type="radio"]+label,input[type="checkbox"]+label,.choiceInputSolution
{
  border: 0.1em solid white;
  border-radius: 0.3em;
  cursor: pointer;
  margin: 0.2em;
  min-width: 8em;
  padding: 0.1em;
}

input[type="radio"]:checked+label,input[type="checkbox"]:checked+label
{
  cursor: auto;
  color: black;
  background-color: lightgreen;
  border-color: green;
}

input[type="checkbox"],input[type="radio"]
{
  display:none;
}

input[type="number"],input[type="text"] {
  border: 0.15em solid #888888;
  border-radius: 0.4em;
  width:8em;
  margin-left:0.3em;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

input+.tooltip {
  visibility: hidden;
  display:none;
  position: relative;
}

input:focus +.tooltip {
  visibility: visible;
  display: inline;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align:center;
  margin-left:0.3em;
  padding:0.2em;
  border: 0.2em solid #006AFF;
  z-index: 1;
  background-color: black;
  border-radius: 0 0.5em 0.5em 0.5em;
}

.tooltip:before {
  content: "*";
  display:inline-block;
  margin-right: 0.3em;
}

.choiceInput {
  position: relative;
  display: flex;
  border: 0.15em solid #888888;
  border-radius: 0.4em;
  padding:0.2em 0.5em;
  text-align:left;
  flex-direction: column;
  margin: 0.4em 0;
}

.choiceInput p {
  margin:auto;
}

.choiceSVG {
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 
}

.choiceSVG em {
  flex-basis: 100%;
}

.choiceSVG * {
}

.choiceItem {
  position:relative;
}

.choiceItem label { 
  display:block;
}

.choiceItem input:checked + label {
  background-color:#ffeb97;
}

.choiceItem input + label {
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.choiceItem input:checked + label::after {
  content:"✓";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.3em;
  font-size: 1.5em;
}

.choiceItem .letter {
  position: absolute;
  left: 0.5em;
  top: 0.3em;
}

/* Question indicator stuff */

.quizArea #questionsLeft
{
  margin-top:auto;
  display: flex;
  justify-content: space-between;
  padding: 0.1em;
}

.qDot {
  height: 1em;
  width:  1em;
  margin-right: 0.3em;
  border-radius: 50%;
  background-color: white;
  border: 0.2em solid #f2f2f2;
  display: inline-block;
}

.qActive {
  border-color: #a4c9ff;
}

.qCorrect {
  background-color: #33cc33;
}

.qHint {
  background-color: #ffbd00;
}

.qIncorrect {
  background-color: #000;
}

.quizHeader {
  display:flex;
  flex-direction: row;
}

#quizIndex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#quizQuestionArea {
  min-width: 20em;
  width: 50%;
}

#quizInfoArea {
  flex: 1;
}

@media only screen and (max-width: 50em) {
  #questionTypes{
    flex-direction: column;
    display: flex;
  }
  .quizOption {
    flex-direction: column;
  }
  .quizArea {
    height:100%;
    grid-template-rows: 1fr 12em;
    grid-template-columns: 1fr;
  }
  .quizIndex {
    grid-column: 1;
    grid-row: 1;
    grid-row-end: 3;
    flex-direction: column;
  }
  .quizQuestionArea {
    grid-column: 1;
    grid-row: 2;
  }
  .quizInfoArea {
    grid-column: 1;
    grid-row: 3;
  }
}

/* End Grid Layout stuff */
